.courseDetailHead{
    background-image: linear-gradient(to right, black , $primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height:20vh;
}