.courseDetailHead{
    background-image: linear-gradient(to right, black , #1eb2a6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height:25vh;
  }