.coursesBox{

    .title{
        text-align: center;
    }

    .btn{
        padding:10px 20px;
        width:20%;
        font-size: 23px;
        font-weight: bolder;
        margin: 10px;
        border-radius: 10px;
        border: 1px solid gray;
        color: white;
        // background-color: green;
    }
    
    .cancel{
        background-color: royalblue;
        color: white;
    }
    .btn:hover{
       cursor: pointer;
    }
    
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        width: 50%;
        margin: auto;
        padding: 30px;
        // border: 2px solid red;
    
    }
}