.overlay{
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
   
    h1{
        margin: 20px 0px;
    }
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        color: white;
        padding: 20px;
        margin-top: 2%;
    }
}