.upperHeader{

   display: flex;
   flex-direction: column;
//    justify-content: space-between;
   align-items: center;
   width: 100%;
   margin: auto;
   color:white;  
   
     h2{
        color: white;
        font-weight: bolder;
        text-align: center;
        width: 80%;
        font-size: 22px;
     }
    .logo{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 100%;
        margin-right: 2rem;
    }

    .logo img{
        width: 200px;
        margin-bottom: 10px;
    }

     .logoLink{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }


    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        // display: none;
    }
    .contact{
        display: none;
        font-size: 20px;
    }

    .social{    
        display: none;
    }

    .sign{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-right: 2rem;
        width: 100%;
        margin: auto;
    }

    .sign h2{
        width: 50%;
        font-size: 20px;
    }

    .sign a{
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
        color: white;
    }
    
     .sign i{
        font-size: 25px;
        transition: .3s all;
      }
      
       .sign i:hover{
        color: #1EB2A6;
        transform: scale(1.1);
      }

       .sign h2{
        margin: 0px 20px;
        color: white;
        transition: .3s all;
      }
      
        .sign h2:hover{
        transform: scale(1.1);
        color: #1EB2A6;
        cursor: pointer;
      }
}


@media(min-width:625px){

    .upperHeader{
        .sign{
            width: 50%;
        }

    }
}



@media (min-width:1600px){

    .upperHeader{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
        padding: 40px 0px;
        color:white;  
        
          h2{
             color: #1EB2A6;
             font-weight: bolder;
          }
         .logo{
             display:flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             width: 20%;
         }
     
         .logo img{
             width: 70%;
             margin-bottom: 10px;
         }
     
     
         .content{
             display: flex;
             flex-direction: row;
             justify-content: space-between;
             width: 70%;
         }
     
     
         .contact{
             display: grid;
             grid-template-columns: 1fr 1fr; 
            //  grid-gap:100px;  
             width:100%;
         }
     
         .contactBox{
             display: flex;
             flex-direction: row;
             justify-content: flex-start;
             align-items: flex-start;
            //  border: 2px solid red;
         }
     
         .contactBox i{
             font-size: 30px;
             padding: 20px;
         }
     
     
         .social{
             display: flex;
             flex-direction: row;
             justify-content: center;
             align-items: center;
         }
     
         .social i{
             font-size:20px ;
             padding: 10px;
             border-radius: 100px;
             background-color: white;
             color: $primary;
             margin: 10px;
             transition: .3s all;
         }
     
         .social i:hover{
             background-color: $primary;
             color: white;
         }
     
         .sign{
             display: flex;
             flex-direction: row;
             justify-content: center;
             align-items: center;
         }

         .sign i{
            font-size: 35px;
         }

         .sign h2{
            font-size: 25px;
         }
     
         .sign a{
             text-decoration: none;
             font-size: 25px;
             padding: 10px;
             color: white;
         }
     
         
     }
}