

header{
    
    background-image: url("../../imgs/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height:70vh;
   
}